html {
    height: 100%;
}

body {
    font-family: 'Manrope', 'Noto Sans Thai', 'JetBrains Mono', monospace, sans-serif;
    height: 100%;
    margin-bottom: 30px;
    line-height: normal;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
    scroll-margin-top: 6em;
}

div{
    scroll-margin-top: 6em;
}

.container {
    max-width: 50em;
}

.divider {
    border-bottom: 1px solid #eaecef;
    margin: 1em 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 20px;
}

h1,
h2,
h3 {
    color: #0b4f9c !important;
}

#nav-link,
#top-button {
    opacity: 0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.list-dashed{
    list-style-type: "- ";
    margin-left: 0.5em !important;
    padding-left: 0.5em !important;
}

.box-link, .box-construct-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid #898b8d;
    margin: 0.2em 0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.box-link:hover{
    background-color: #0b4f9c;
    border: 1px solid #0b4f9c;
    color: #fff;
}

.box-construct-link:hover{
    background-color: #7c7408;
    border: 1px solid #7c7408;
    color: #fff;
}

.nav-header-bar{
    position: fixed;
    top: 0;
    width: 100%;
}

.bg-navy{
    background-color: #0b4f9c;
    color: #fff;
}

a.hover{
    background-color: #fff;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

a.hover:hover{
    background-color: #e7e7e7;
}